<%-include('template/header', {tituloWeb: 'Uploading images'});%>
<p class="no-d"><%=file%></p>
<div class="loading">
    <p>Uploading...</p>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated w-100"></div>
</div>
</div>
    <script src="../public/loading.js" ></script>
<%-include('template/footer');%>
